
* {
  font: 12pt sans-serif;
}

table{
  width: 100%;
}

.table-group {
  background: black;
  border-spacing: 1px;
}

.table-group td, .table-group th {
  background: white;
  padding: 5px;
  text-align:  center;
}

th {
  vertical-align: top;
}

.table-scroll {
  overflow:auto;
  min-width: 350px;
}

button {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
}

.close:after {
  content:"\d7";
  font-size:50px;
  color:red;
}
