
.table-scroll {
  height:350px;
  overflow:auto;
  min-width: 150px;
  background: black;
  border-spacing: 1px;
}

table{
  width: 100%;
}

.table-scroll td, .table-scroll th {
  background: white;
  padding: 5px;
  text-align:  center;
}
